@import "tailwindcss";

@theme {
  --font-space-grotesk: "Space Grotesk", sans-serif;

  /* Colors */
  --color-surface: #fbf9f5;
  --color-surface-dim: #dbdad6;
  --color-surface-bright: #fbf9f5;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f5f3ef;
  --color-surface-container: #efeeea;
  --color-surface-container-high: #eae8e4;
  --color-surface-container-highest: #e4e2de;
  --color-on-surface: #1b1c1a;
  --color-on-surface-variant: #4d4354;
  --color-inverse-surface: #30312e;
  --color-inverse-on-surface: #f2f0ed;
  --color-outline: #7e7385;
  --color-outline-variant: #cfc2d6;
  --color-surface-tint: #6F39EE;
  --color-primary: #6F39EE;
  --color-on-primary: #ffffff;
  --color-primary-container: #9c48ea;
  --color-on-primary-container: #fffbff;
  --color-inverse-primary: #ddb7ff;
  --color-secondary: #b61722;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #da3437;
  --color-on-secondary-container: #fffbff;
  --color-tertiary: #006947;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #00855b;
  --color-on-tertiary-container: #f5fff6;
  --color-accent-amber: #F2B705;
  --color-on-accent-amber: #1b1c1a;
  --color-amber-container: #FDE68A;
  --color-on-amber-container: #1b1c1a;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-primary-fixed: #f0dbff;
  --color-primary-fixed-dim: #ddb7ff;
  --color-on-primary-fixed: #2c0051;
  --color-on-primary-fixed-variant: #6900b3;
  --color-secondary-fixed: #ffdad7;
  --color-secondary-fixed-dim: #ffb3ad;
  --color-on-secondary-fixed: #410004;
  --color-on-secondary-fixed-variant: #930013;
  --color-tertiary-fixed: #6ffbbe;
  --color-tertiary-fixed-dim: #4edea3;
  --color-on-tertiary-fixed: #002113;
  --color-on-tertiary-fixed-variant: #005236;
  --color-background: #fbf9f5;
  --color-on-background: #1b1c1a;
  --color-surface-variant: #e4e2de;
  --color-border-black: #000000;
  --color-shadow-black: #000000;
  --color-pure-white: #FFFFFF;

  /* Spacing */
  --spacing-border-thick: 4px;
  --spacing-border-standard: 3px;
  --spacing-border-tag: 2px;
  --spacing-border-circular: 3px;
  --spacing-shadow-offset: 5px;
  --spacing-shadow-compact: 3px;
  --spacing-gutter: 1.5rem;
  --spacing-margin-mobile: 1rem;
  --spacing-margin-desktop: 2.5rem;
}

body {
  font-family: var(--font-space-grotesk);
}
